<nav class="navbar navbar-expand-lg" style="background-color: rgb(117, 92, 153);">
  <div class="container-fluid">
    <!-- <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(49, 45, 55);">
      <span><i class="bi bi-list-ul"></i></span>
    </button> -->
    <!-- Logo -->
    <img src="../../../assets/tLogo2.png" (click)="OnClickHome(email)" [ngStyle]="{'cursor': 'pointer'}" alt="Logo" class="d-inline-block align-text-top" width="4%">
    <!-- Elementos -->
    <button class=" navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(49, 45, 55);">
      <i class="bi bi-list-ul"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <hr style="margin-top: 1%; margin-bottom: 1%;">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" (click)="OnClickHome(email)" [ngStyle]="{'cursor': 'pointer'}">Home</a>
        </li >
        <li class="nav-item" *ngIf="tipo_usuario == 'admin'">
          <a class="nav-link active" aria-current="page" (click)="OnClickPlan()" [ngStyle]="{'cursor': 'pointer'}">planes</a>
        </li>
        <li class="nav-item" *ngIf="tipo_usuario == 'admin'">
          <a class="nav-link active" aria-current="page" (click)="OnClickUser()" [ngStyle]="{'cursor': 'pointer'}">usuarios</a>
        </li>
        <hr style="margin-top: 1%; margin-bottom: 1%;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">{{email}}</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown10">
            <li><button class="dropdown-item" (click)="OnClick(email)">Ver perfil</button></li>
            <li> <button class="dropdown-item" routerLink="configuracion" (click)="navConfig()" >Configuración</button></li>
            <li> <button class="dropdown-item" (click)="logOut()">Cerrar sesión</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Boton Sidebar -->
<a class="btn text-white" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  <i class="bi bi-chevron-compact-right bottom-0 end-0" 
    style="background-color: rgb(117, 92, 153); position: fixed; margin-bottom: 2%; margin-right: 2%; 
          padding: 10px 15px;
          border-radius: 15px;">
  </i>
</a>

  <!-- Sidebar --> 
  <div class="offcanvas offcanvas-start text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="background-color: rgb(49, 45, 55);">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">
        <img src="../../../assets/tLogo2.png" alt="Logo" class="img-fluid" width="15%">
      </h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-right: 1%;"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-white" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            <b>Inicio</b>
          </a>
        </li>
        <hr>
        <li>
          <a href="#" class="nav-link text-white" routerLink="historial" (click)="navHistory()">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            <b>Historial de transeferencias/ingresos  </b> <i class="bi bi-clock-history"></i>
          </a>
        </li>
        <hr>
        <li>
          <a href="#" class="nav-link text-white" routerLink="ingreso" (click)="navIngreso()">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            <b>Ingreso de dinero </b> <i class="bi bi-cash-stack"></i>
          </a>
        </li>
        <hr>
        <li>
          <a href="#" class="nav-link text-white" routerLink="transferencia" (click)="navTransfer()">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            <b>Transferencia </b> <i class="bi bi-arrow-left-right"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- User -->
    <hr>
      <div class="dropdown" style="margin-bottom: 3%; margin-left: 2%;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" style="background-color: rgb(117, 92, 153);">
          {{email}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><button class="dropdown-item" (click)="OnClick(email)">Ver perfil</button></li>
          <li> <button class="dropdown-item" routerlink="configuracion" (click)="navConfig()">Configuración</button></li>
          <li> <button class="dropdown-item" (click)="logOut()">Cerrar sesión</button></li>
        </ul>
      </div>
  </div>