<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.component.css">
    <title>Mi Perfil</title>
</head>
<body>
    <header>
        <h1>Datos Personales</h1>
    </header>
    <div class="profile-container">
        <img class="profile-picture" src="https://png.pngtree.com/element_origin_min_pic/00/00/06/12575cb97a22f0f.jpg" alt="Foto de perfil">
        <h1>Joe Pinargote</h1>
        <p>Correo Electrónico: joe.pinargote@gmail.com</p>
        <p>Direccion: Manta, Ecuador</p>
        <p>Celular: 0985560746</p>
        <p>Descripción: Me gusta la musica</p>
    </div>
</body>
</html>