<!-- <app-sidebar></app-sidebar> -->

<div class="mx-auto mt-5" style=" width: 30%; height: 100%;">
  <div class="card mx-auto">
    <div class="card-header align-items-center">
      <h2>Detalle de la cuenta</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <h4 class="card-title mb-2">Nombre</h4>
        <li class="list-group-item mb-2">{{name}}</li>
        <h4 class="card-title mb-2">Cédula</h4>
        <li class="list-group-item mb-2"></li>
        <h4 class="card-title mb-2">Teléfono</h4>
        <li class="list-group-item mb-2"></li>
        <h4 class="card-title mb-2">Dirección</h4>
        <li class="list-group-item mb-2"></li>
      </ul>
    </div>
    <div class="card-footer text-muted">     
    </div>
  </div>
</div>