<!-- <app-sidebar></app-sidebar> -->
<div class="mx-auto mt-5" style="width: 30%;">
    
    <div class="card">
        <div class="card-header text-center">
            <h5>Transferencia</h5>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="" class="form-label">Monto</label>
                <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                <label for="" class="form-label">Destinatario</label>
                <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            <input name="" id="" class="btn text-white mx-2" type="submit" value="Transferir" style="background-color: rgb(117, 92, 153);">
            <a name="" id="" class="btn text-light" href="" role="button" style="background-color: brown;">Cancelar</a>
        </div>
    </div>
</div>